$black: #000000;
$white: #ffffff;
$grey: #7e7e7e;
$fushia:#ff1053;
$blue: #2441e7;
$border: #cd84c0;
$gradientBlue: rgba(36, 65, 231, .7);
$gradientFushia: rgba(255, 16, 93, .7);
$gradient: linear-gradient(135deg, $gradientBlue, $gradientFushia);

$mainFont: 'Open Sans', sans-serif;
$titleFont: 'Nunito Sans', sans-serif;